$develop:true;
$production:false;
$all:true;
$ie9:false;
$ie8:false;
$ie7:false;
$doc:false;
$local_var:global;
$holydat_var:none;

@import 'includes';

//// Подключаем стили библиотек
//@import "libs";
//
////Подключаем переменные
//@import "vars";
//
////подключаем миксины
//@import "mixins";
//
//@import 'font';
//
//@import "plugins";
//
//html{
//  line-height: 1;
//  font-size: 14px;
//}
//
//body{
//  background: $bodyBg url('../img/top_bg.png') top center no-repeat;
//  font-family: $mainFont, sans-serif;
//}
//h1, h2, h3, h4, h5, h6{
//  margin: 0;
//}
//h1{
//  font-family: $musFont;
//  font-size: 1.7rem;
//  padding: 0 0 15px 0;
//  margin: 0 0 10px 0;
//  border-bottom: 1px solid $pinkColor;
//}
//ul, li{
//  margin: 0;
//  padding: 0;
//  list-style-type: none;
//}
//p{
//  margin: 0;
//}
//
//a{
//  text-decoration: none;
//  color:black;
//}
//
//audio,
//canvas,
//iframe,
//img,
//svg,
//video{
//  vertical-align: middle;
//}
//
//textarea{
//  resize: none;
//}
//
//section{
//  position: relative;
//  margin-bottom: 20px;
//}
//
//input,
//select,
//button{
//  outline: none;
//}
//*,*:before, *:after{
//  box-sizing: border-box;
//}
//.hide{
//  display: none;
//}
//
//.show{
//  display: block;
//}
//
//::-moz-selection{
//  background: #b3d4fc;
//  text-shadow: none;
//}
//
//
//::selection{
//  background: #b3d4fc;
//  text-shadow: none;
//}
//
//
//.clearfix:before,
//.clearfix:after{
//  content: " ";
//  display: table;
//
//}
//
//.clearfix:after{
//  clear: both;
//}
//
//
//.clearfix{
//  *zoom: 1;
//}
//
//
//.wrapper{
//  width: 100%;
//  max-width: $width_page;
//  margin: 0 auto;
//  background-color: #fff;
//  padding: 30px 50px 50px;
//}
//main{
//  float: right;
//  width: 77%;
//  padding: 0 0 0 40px;
//}
