footer.footer
    .footer_bg
        .footer_content.clearfix
            .footer_content-left
                a.footer_logo(href="/") Vipparfumer.msk.ru
                span.footer_address
                    span.footer_city г. Москва
                    a(href="#").footer_phone +7 495 294 34 45
                    ul.footer_social
                        li.footer_social-item
                            a(href="#").footer_social-link.footer_social-link_vk
                        li.footer_social-item
                            a(href="#").footer_social-link.footer_social-link_fb
                        li.footer_social-item
                            a(href="#").footer_social-link.footer_social-link_inst
                    span.footer_copyright © 2010-2017 Vipparfumer.msk.ru

            .footer_content-right
                nav.footer_nav.live-menu
                    ul.footer_nav-list
                        li.footer_nav-item
                            a.footer_nav-link(href="#") о компании
                        li.footer_nav-item
                            a.footer_nav-link(href="#") акции
                        li.footer_nav-item
                            a.footer_nav-link(href="#") новости
                        li.footer_nav-item
                            a.footer_nav-link(href="#") доставка
                        li.footer_nav-item
                            a.footer_nav-link(href="#") реквизиты
                        li.footer_nav-item
                            a.footer_nav-link(href="#") производители
                        li.footer_nav-item
                            a.footer_nav-link(href="#") контакты
                    .sandwich_menu
                        span.sandwich_menu-top
                        span.sandwich_menu-middle
                        span.sandwich_menu-bottom

                .footer-list_wrap
                    ul.footer-list
                        li.footer-item
                            a(href="#").footer-link Женская парфюмерия
                        li.footer-item
                            a(href="#").footer-link Мужская парфюмерия
                        li.footer-item
                            a(href="#").footer-link Нишевая парфюмерия
                    ul.footer-list
                        li.footer-item
                            a(href="#").footer-link Тесты, пробники
                        li.footer-item
                            a(href="#").footer-link Арабские духи
                        li.footer-item
                            a(href="#").footer-link Дезодоранты спрей
                    ul.footer-list
                        li.footer-item
                            a(href="#").footer-link Тушь
                        li.footer-item
                            a(href="#").footer-link Подводка и карандаши
                        li.footer-item
                            a(href="#").footer-link Помада
                    ul.footer-list
                        li.footer-item
                            a(href="#").footer-link Блеск для губ
                        li.footer-item
                            a(href="#").footer-link Тональный крем
                        li.footer-item
                            a(href="#").footer-link Крема
                    ul.footer-list
                        li.footer-item
                            a(href="#").footer-link Тени и палетки
                        li.footer-item
                            a(href="#").footer-link Пудра
                        li.footer-item
                            a(href="#").footer-link Румяна
