extends ../layout/layout
include ../vars/_global_mixins
include ../vars/_global_vars
include ../vars/_project_mixins

block vars
    - var array = {body_class:'', layuot_mod:'', sub_keywords:'',title_inner:'Title of the page'}
block content_block

